<h2>A propos de ce site</h2>
<p>Ce site a été réalisé sous <span class="boldColor">Angular 10</span>, 
    via l'éditeur <span class="boldColor">VSCode</span>.<br>
    Code source disponible <a href="https://github.com/jyaire/jyaire" target="_blank">sur Github</a>.</p>

<h2>A propos de moi</h2>
<p>Je m'appelle <span class="boldColor">Jean-Roch Masson</span>, je suis professeur des écoles à 3 jours par semaine, 
    et développeur web sur le reste de mon temps libre.
</p>
<p><span class="boldColor"><a routerLink="../contact">Contactez-moi</a></span> si vous avez un projet ou 
    que vous avez besoin de renseignements, 
    je vous répondrai rapidement.</p>