<h2>Mon parcours</h2>
<p>Originaire de Lille, et habitant depuis 20 ans sur Dunkerque, j'ai 43 ans.<br>
Je suis actuellement professeur des écoles pendant 3 jours par semaine.</p>
<p>Je consacre le reste de mon temps professionnel à ma passion : 
    la création de sites Web ou d'applications en ligne.<br>
Tombé dans la marmite d'Internet dès 1998, j'ai tout de suite apprécié la puissance du Web 
en matière de communication et de possibilités techniques.
</p>

<h2>Mes compétences</h2>
<p>En 2019, après avoir passé de nombreuses années à apprendre par moi-même les langages de base 
    des sites Internet, je me suis lancé dans une formation intensive à la 
    <a href="https://www.wildcodeschool.com/fr-FR/campus/lille" title="WCS" target="_blank">Wild Code School à Lille</a>, 
    pour obtenir le titre de Développeur Web et Mobile.
</p>
<ul>
    <li>
        HTML, CSS, SCSS, Bootstrap
    </li>
    <li>
        PHP, Symfony 4 et 5, 
    </li>
    <li>
        Bases d'Angular (sous lequel ce site vitrine est développé) 
    </li>
</ul>
<p>Je mets à votre service mes compétences pour la <a routerLink="/creation">création de sites Web</a>, que vous soyez une école, 
    une association, une entreprise, une collectivité ou un particulier.
</p>
<p>J'apporte également mes <a routerLink="/services">services pour l'aide informatique</a> (installation, prise en main, formation).
</p>