<h1>Contact et devis</h1>
<p>Je m'engage à vous répondre rapidement</p>

<!-- formulaire de contact -->
<form [formGroup] = "contactForm" (ngSubmit)="sendEmail()" class="row">
    <div class="col-12 col-md-4">
        <label>Nom : </label><br>
        <input type="text" formControlName="name" placeholder="Votre nom" required>
    </div>
    <div class="col-12 col-md-4">
        <label>Email : </label><br>
        <input type="email" formControlName="email" placeholder="Adresse mail" required>
    </div>
    <div class="col-12 col-md-4">
        <label>Téléphone : </label><br>
        <input type="text" formControlName="phone" placeholder="N° de téléphone">
    </div>
    <div class="col-12 mt-2">
        <label>Message :</label><br>
        <textarea formControlName="message" rows="5" cols="100%" placeholder="Votre demande" required></textarea>
        <br><button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Envoyer</button>
    </div>
</form>

<p class="mt-3">Vous pouvez également me contacter :</p>

<div class="col offset-1 p-1">
    <i class="far fa-envelope mr-2"></i>jyaire@gmail.com
</div>

<div class="col offset-1 p-1">
    <i class="fas fa-mobile-alt mr-2"></i>06 61 93 03 90
</div>

<div class="col offset-1 p-1">
    <i class="fab fa-linkedin mr-2"></i><a target="_blank" href="https://www.linkedin.com/in/jyaire/">
        LinkedIn
    </a>
</div>
    