h1 {
    color: black;
    font-size: 1.5rem;
}

.subtitle {
    font-style: italic;
}

a:link {
    text-decoration:none;
}

.button-menu {
    align-content: center;
}

.link-box {
    width: 90%;
    color: white;
    background-color: darkslategray;
    margin: 10px;
    padding: 5px;
}

.link-box-active {
    background-color: white;
    color: black;
}

#logo {
    height:50px;
    width: auto;
}