h1 {
    color: black;
    font-size: 2rem;
}

.subtitle {
    font-style: italic;
}

a:link {
    text-decoration:none
}

.link-box {
    width: 200px;
    color: white;
    background-color: darkslategray;
    margin: 10px;
    padding: 5px;
}

.link-box-active {
    background-color: white;
    color: black;
}

li {
    list-style-type: none;
}

#logo {
    height:60px;
    width: auto;
}