<div class="row">
    <div class="col-3 my-auto text-center">
        <img alt="JRM" src="./assets/images/logoJR.png" id="logo">
    </div>
    <div class="col-9 text-center">
        <h1>Jean-Roch<br>MASSON</h1>
    </div>
</div>

<ul>
    <a routerLink="/">
        <li>
            Présentation
        </li>
    </a>
    <li>
        Sites Web
    </li>
    <a routerLink="portfolio">
        <li>
            Réalisations
        </li>
    </a>
    <li>
        <a routerLink="services">Services</a>
    </li>
    <li>
        Contact
    </li>
</ul>