<div class="row">
    <div class="col-3 my-auto text-center">
        <img alt="JRM" src="./assets/images/logoJR.png" id="logo">
    </div>
    <div class="col-9 text-center">
        <h1>{{ moi.firstname }}<br>{{ moi.name | uppercase }}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <p class="subtitle text-center">Développeur Web</p>
    </div>
    <div class="col-12 text-center">
        <div class="button-menu text-center">
            <a routerLink="home">
                <div class="link-box" routerLinkActive="link-box-active">
                    Accueil
                </div>
            </a>

            <a routerLink="presentation">
                <div class="link-box" routerLinkActive="link-box-active">
                    Présentation
                </div>
            </a>

            <a routerLink="creation">
                <div routerLinkActive="link-box-active" class="link-box">
                    Création de sites
                </div>
            </a>

            <a routerLink="portfolio">
                <div routerLinkActive="link-box-active" class="link-box">
                    Réalisations
                </div>
            </a>

            <a routerLink="services">
                <div routerLinkActive="link-box-active" class="link-box">
                    Services
                </div>
            </a>

            <a routerLink="contact">
                <div routerLinkActive="link-box-active" class="link-box">
                    Contact et devis
                </div>
            </a>
        </div>
    </div>
</div>