<h2>Mes réalisations</h2>
<p>Voici quelques-uns de mes projets réalisés</p>
<div class="row">
    <div class="col-4">
        Classe Royale
        Application en ligne pour une évaluation ludique des élèves
    </div>
    <div class="col-4">
        Site de l'école la Providence, à Dunkerque (59)
    </div>
    <div class="col-4">
        Il faut que j'vous raconte, blog personnel
    </div>
    <div class="col-4">
        Site des Anciens de l'institution Sainte-Marie de Beaucamps-Ligny (59)
    </div>
    <div class="col-4">
        Site de l'école la Providence, à Dunkerque (59)
    </div>
    <div class="col-4">
        Il faut que j'vous raconte, blog personnel
    </div>
</div>

