@import '../var';

.main {
    font-family: 'Barlow', sans-serif;
}

.menu {
    background-color: $main-color;
    color: white;
    @media (min-width: 768px) {
        min-height: 100vh;
    }
}

.home {
    color: darkslategray;
}
