<h2>Création de sites Web</h2>
<p>Je propose mes services aux écoles, associations, entreprises, mais aussi aux particuliers.<br>
Les sites réalisés peuvent aller du simple site vitrine statique à l'application web interactive et inédite.</p>
<h2>Projet sur mesure</h2>
<p>Je prends le temps, lors du devis, pour cerner les besoins et les envies du client.<br>
Nous établissons ensemble le cahier des charges d'un minimal acceptable.</p>
<p>Mon fonctionnement se base sur un aller-retour constant entre le client et le projet pour 
    ajuster en temps réel les avancées (méthode SCRUM), afin de ne pas perdre de temps en développements inutiles 
    et orienter le projet vers les véritables besoins.
</p>
<h2>Hébergement et maintenance</h2>
<p>Je vous propose mes services pour la mise en ligne et l'entretien de votre site. Votre visibilité dépend 
    des mises à jours et de l'actualisation de vos pages.</p>

<h2>Tarifs ajustés</h2>
<p>En tant qu'indépendant, je peux me permettre d'ajuster mes tarifs au plus près de ma dépense réelle : 
    les services supplémetaires sont ajustés à l'euro près (hébergement, noms de domaine...), factures à l'appui.  
    Le temps passé en développement est basé sur la grille de la moyenne d'un développeur indépendant.
</p>
