<div class="row">
    <div class="col-11">
        <h2>Qui suis-je ?</h2>
        <p>Professeur des écoles, âgé de 43 ans, passionnné par le Web et emerveillé par la puissance d'Internet, 
            je me suis tourné dès 1998 vers la conception de sites Web, 
        parallèlement à mon métier de professeur d'école.</p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h3>Conception de sites web</h3>
                <p>
                    Je vous accompagne techniquement et administrativement pour la conception et la maintenance
                    de votre site Internet : association, école, commerce, entreprise...
                </p>
            </div>
            <div class="col-6">
                <h3>Services numériques au particulier</h3>
                <p>
                    J'apporte l'aide et l'expertise nécessaire pour l'installation d'équipements (nouvel ordinateur, imprimante, ...) 
                    ou la prise en main de votre téléphone portable (installation d'applications, sauvegardes...)
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 footer">
        <app-footer></app-footer>
    </div>
</div>
